
<div class="main">
	<div class="left">
		<br>
		<div class="profile-img">
            <img src="../../assets/Yo.jpg">

        </div>

		<div class="box-1">
			<div class="heading">
				<p>ACERCA DE MI </p>
			</div>
        <hr>
        <ul>
            <li> <B>Nombre:</B> Cristhian Pin </li>
            <li> <b>Curso: </b> Desarrollo de Aplicaciones Web 7-4 </li>
        </ul>

        <hr>
        <p class="p3">Contacto: +593996827014 <br> 
            <a href="https://www.instagram.com/crispin_49/"> Instagram</a> <br>
            <a href="https://www.facebook.com/cristhegeneral/"> Facebook</a> <br>
            <a href="mailto:cristhianpin92@gmail.com?subject=Contacto&body=prueba email">cristhianpin92@gmail.com</a> <br>

         </p>
        <hr>
        </div>